Source: ruby-file-tail
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders:  <>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-file-tail.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-file-tail;a=summary
Homepage: http://flori.github.com/file-tail
XS-Ruby-Versions: all

Package: ruby-file-tail
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter, ruby-spruz (>= 0.1.0)
# spruz (>= 0.1.0, runtime)
Description: File::Tail for Ruby
 Library to tail files in Ruby
